body{
  background-image: url(assets/black-friday-elements-assortment.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px;
  text-align: center;
  border: 1px solid black;
  margin-top: 200px;
  margin-left: 430px;
  margin-right: 430px;
  border-radius: 8px;
  background-color: ivory;
}

input {
  margin: 5px;
}

button {
  margin: 8px;
  background-color: green;
  color: white;
  border-color: rgb(70, 128, 0);
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
